img {
  max-width: 100%;
  max-height: 600px;
  padding: 0px;
}

.no-gutters-column{
  padding:0;
}

.postcard {
  margin-bottom: 50px !important;
  background: white !important; 
}

.tag {
  width: auto;
  background: #d89c24;
  display: flex;
}
