<div class="dark-standard p-0">
  <div class="outer-bound" style="padding-top: 10px !important; padding-bottom: 10px !important;">
    <div class="shadow postcard p-2 m-5">
      <h1 class="m-auto">Greetings From Spotshare!</h1>
      <h2>{{keyword}}</h2>
      <img class="img-fluid" src="{{url}}" alt="Test Image">
      <p>From: {{url}}</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row light-standard">
      <div class="col-md-6 col-sm-12 no-gutters-column">
          <img src="http://res.cloudinary.com/sagacity/image/upload/c_crop,h_433,w_650,x_0,y_0/c_limit,w_1080/v1432765412/shutterstock_92858029_n3eulr.jpg" alt="postcard">
      </div>
      <div class="col-md-6 col-sm-12">
          <h1 id="title"><strong>About Us</strong></h1>
          <p>
            Spotshare is composed of a team that are enthousiast on collecting postcards because of their
            sentimental value and artistic sense. <br><br>
            Spotshare is a postcard memorabiblia social network. The main purpose of the application is for you
            to go out into the world, explore and get rewarded for it by collecting amazing digital poscards themed
            with the locations that you visited. After collection you can customize and share it with the world! (Or you friends!).
          </p>
      </div>

    </div>
    <div class="row dark-standard">
        <div class="col-md-6 col-sm-12">
            <h1 id="title"><strong>Features</strong></h1><br>
            <ul>
              <li>Collect Postcard Themed with the Visited Location</li><br>
              <li>Exlore new Locations that appear in the application</li><br>
              <li>View Collected Postcards</li><br>
              <li>Personalize Collected Postcards</li><br>
              <li>Share the Postcards with the World (or your Friends)</li><br>
              <li>Categorize Collected Postcards</li><br>
              <li>Dispose of Unwanted Postcards</li><br>
              <li>View Postcards published by other</li><br>
              <li>View your progress in the way of a Collection Journal</li><br>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 no-gutters-column">
            <img align="right" src="https://cdn.shopify.com/s/files/1/1223/8590/products/postcard-set-kuchar-2.jpg?v=1539739004" alt="postcard">
        </div>

      </div>

  </div>
</div>
